

.footer__global{
	z-index:999;
	position:relative;
align-items:center;

justify-content:space-between;
lost-flex-container:row;
lost-column:3/3;
background:$black;
  clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
padding: 1rem;
padding-top: 6rem;
    padding-bottom: 2rem;
    min-height: 30vh;
.cls-5{
	fill:$white;
}

.footer__logo{
	lost-column:1/6;
	lost-align:center;
	margin-top:.5rem;
}


svg{
	width:80%;
	height:80%;
	

}

  @include media(">=large") {

  	lost-align:middle-left;

svg{
	width:35%;
	height:35%;
  	}
}

}



.footer__contact{
lost-column:3/4;
align-items:flex-start;
justify-content:flex-start;


.footer__phone{
	letter-spacing:1px;
	margin-bottom:2rem;
}

a,address{
	color:rgba($white,1);
	font-style:normal;
	@include font-title;
	font-weight:300;
	margin-bottom:.5rem;
	box-shadow:0px 0px 0px ;
	font-size:.75rem;
}

	h5{
		margin:0;
		color:lighten($white,10%);
		font-size:.75rem;
	}



}


.footer__social{
	lost-column:4/8;
	display:flex;
	height:auto;
	text-align:right;
	align-items:flex-start;
	justify-content:flex-start;
	flex-direction:row;
	padding-top:1rem;
	svg{
		margin-right:2rem;
	width:1rem;
	height:100%;

}

path{
	fill:$white;
}

}
