/*===========================
=            sky            =
===========================*/


body::before {
  content: ' ';
  display: block;
  background-image: url('../images/hero__clouds.svg'), url('../images/sun.svg'), linear-gradient(to top, #BD6B56 5%, #EBC8A0 39%, #7186A2 74%);
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;

  z-index: -10; // This is pretty important.

}


body.day::before {
  background-image: url('../images/hero__clouds.svg'), linear-gradient(0deg, #D4D8E4 19%, #9CC6F3 38%, #018AEF 96%);

}


body.night::before {

  background-image: url('../images/hero__clouds.svg'), linear-gradient(0deg, #454065 24%, #170E21 91%);

}


body.sunset::before {
  background-image: url('../images/hero__clouds.svg'), url('../images/sun.svg'), linear-gradient(to top, #BD6B56 5%, #EBC8A0 39%, #7186A2 74%);
  }



body.morning::before{
background-image: url('../images/hero__clouds.svg'), url('../images/sun.svg'), linear-gradient(-1deg, #6E2443 19%, #F09A8B 42%, #E7D3E8 73%, #8DBAF5 100%);
}

  body.sunset::before,body::before,body.morning::before{

    background-repeat: no-repeat;
  background-position: -120% 0%, 50% 31rem, center;
  background-size: 92%, 70%, 100%;




  @include media(">=large") {
background-position: -150% -5rem, 20% 80vh, center;
background-size: 100%, 10rem, cover;

  
  }


  @include media(">=desktop") {
    background-position: -2rem -6rem, 16% 26rem, center;
    background-size: 66%, 38%, cover;
          background-attachment: fixed;
  }

  @include media(">=wide") {
    background-position: -2vw -8rem,2rem 36rem,50%;
    background-size: 46%,17%,cover;
  }
}


body.night::before,body.day::before{
    background-repeat: no-repeat;
  background-position: -120% 0%;
  background-size: 92%,  100%;




  @include media(">=large") {
    background-position: -150% -4rem,  center;
    background-size: 92%,  cover;
  
  }


  @include media(">=desktop") {
    background-position: -2rem -6rem,  center;
    background-size: 66%,  cover;
        background-attachment: fixed;
  }

  @include media(">=wide") {
    background-position: -2vw -8rem,  center;
    background-size: 66%,  cover;
  }

}

/*=====  End of sky  ======*/



.page-template .hero__tagline {

margin-top:4rem;
    z-index:99999;
      @include media(">=large") {

  margin-top:0rem;
}


     @include media("<large") {

lost-align:middle-left;
lost-column:4/4;
lost-flex-container:column;
     }

}






.page-template.night .headera{
fill:$black;

}

.page-template.night .headerb{
  
  fill:lighten($black,10%);
}




.page-template.day .headera{

  fill:$purple;
}

.page-template.day .headerb{
  fill:$blue;

}






.page__hero{
position: relative;
    min-height: 25rem;
    width: 100%;
    z-index: -1;
lost-column:4/4;
    overflow:hidden;

     lost-align:center;
    padding:1vh 3vw;
      @include media(">=large") {
    lost-column:8/8;
      }
  @include media(">=xwide") {
  min-height:30rem;


  }

}


.header--overlay{
	position:absolute;
	z-index:-2;
	background:linear-gradient(to top, #BD6B56 5%, #EBC8A0 39%, #7186A2 74%);
	height:100vh;
	width:100%;
	opacity:.4;
  top:0;
}


.day .header--overlay{
	background:linear-gradient(-359deg, #CEE0E9 10%, #3077AC 100%);
}


.night .header--overlay{
	background:linear-gradient(0deg, #454065 24%, #170E21 91%);
}





/*================================
=           header windmill            =
================================*/

.header__windmill{
  position:fixed;
top:15rem;
pointer-events:none;
left:10vw; 
  z-index:-3;
    animation: windmillspin 120s linear infinite;
  @include media(">=large") {
  width:80vw;
  height:auto;
  top:2rem;

  }
}


/*=====  End of windmill  ======*/






