.home {
  overflow-x: hidden!important;
}





/*=======================================
=            Homepage Header            =
=======================================*/

.homepage__hero {
  perspective: 1000px;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  overflow: hidden;
  position: relative;

  @include media(">=large") {
    height: 98vh;
  }
}




.hero__city {
  height: 13rem;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  width: 70%;
  bottom: 1rem;

  @include media(">=wide") {
    bottom: 0;
  }


  @include media("<large") {
    visibility: hidden;
  }
}


.day .city g {
  fill: #9e9e9e;
}

.sunset .city g,
 {
  fill: #a78575;
}


.night .city g {
  fill: #2a2142;
}


.morning .city g {
   fill: #6b2835;
}

.hero__ground {
  height: 11rem;
  width: 100%;
  display: block;
  overflow: hidden;
  background: url('../images/hero__ground.svg') no-repeat;
  background-size: cover;
  z-index: 2;
  position: absolute;
  background-position: top;
  bottom: 0;
  left: 0;

  @include media(">=xwide") {

    height: 13vw;
  }
}


.hero__sun {
  overflow: hidden;
  height: 45%;
  width: auto;
  position: absolute;
  z-index: -1;
  bottom: -5vw;
  left: 30%;
  background: $yellow;
  border-radius: 50%;
}


.hero__logo {


  path,
  polygon {
    fill: $white;
  }
}








/*==============================================
=            Main windmill animated            =
==============================================*/

.hero__wind--position {
  position: relative;
  height: 95vh;
  z-index: 2;
  lost-column: 4/4;
  lost-flex-container: column;


  @include media(">=large") {
    height: 98vh;
    lost-column: 5/8;
    lost-move: 3/8;
  }
}


.hero__mainwindmill--wrapper {
  position: absolute;
  z-index: 2;
  width: 20vw;
  height: 100vw;
  bottom: 1vw;
  left: 35vw;

  @include media(">=desktop") {
    width: 20vw;
    height: 40vw;
    bottom: 2vw;
    left: 25vw;
  }
}



.hero__windmill--top {
  transform: skewY(1deg) skewX(-11deg);
  position: absolute;
  z-index: 999;
  height: 35vw;
  top: -4vw;
  left: -2.55vw;
  width: auto;

  @include media(">=desktop") {
    height: 17vw;
    top: -3vw;
    left: -2.55vw;
    width: auto;
  }
}

.hero__windmill--animated {
  width: auto;
  height: 100%;
  animation: windmillspin 10s linear infinite;
}

.hero__mainwindmill {
  height: 100%;
  width: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}








/*=====  End of Main windmill animated  ======*/


/*===================================================
=            Secondary windmill animated            =
===================================================*/

.hero__secondarywindmill--wrapper {
  position: absolute;
  z-index: 2;
  width: 22vw;
  height: 38vw;
  bottom: 6rem;
  left: 70vw;

  @include media(">=desktop") {

    width: 12vw;
    height: 18vw;
    bottom: 5vw;
    left: 45vw;
  }

  @include media(">=wide") {}
}



.hero__secondarywindmill--top {

  transform: skewY(1deg) skewX(-11deg);
  position: absolute;
  height: auto;
  z-index: 999;
  width: 19vw;
  top: -7vw;
  left: -2vw;
  @include media(">=desktop") {
    width: 9vw;
    top: -3vw;
    left: .5vw;
  }
}

.hero__secondarywindmill--animated {
  width: 100%;
  height: auto;
  animation: windmillspin 10s linear infinite;
}

.hero__secondarywindmill {
  height: 100%;
  width: auto;
  pointer-events: none;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
}








/*=====  End of Secondary windmill animated  ======*/


/*===================================================
=            dutch windmill animated            =
===================================================*/

.hero__dutchwindmill--wrapper {
  position: absolute;
  z-index: 2;

  left: 0;
  width: 10vw;
  bottom: 0;
  height: 10vh;

  @include media(">=desktop") {
    width: 20vw;
    height: 15rem;

    left: 10px;
    bottom: -20px;
  }
}



.hero__dutchwindmill--top {

  transform: skewY(1deg) skewX(-11deg);
  position: absolute;
  width: auto;
  z-index: 999;
  height: 51vw;
  bottom: 35vw;
  left: -7vw;
  @include media(">=large") {

bottom: 25vw;
  }



  @include media(">=desktop") {
    height: 23vw;
    bottom: 10vw;
    left: 0;
  }


  @include media(">=wide") {}


  @include media(">=xwide") {}
}

.hero__dutchwindmill--animated {
  width: auto;
  height: 100%;
  animation: windmillspin 20s linear infinite;
}

.hero__dutchwindmill {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  height: 56vw;
  left: -8vw;
  bottom: 8vh;
  width: auto;

  @include media(">=large") {

bottom: 5vh;
  }


  @include media(">=desktop") {
    height: 25vw;
    left: 0;
    bottom: 0vh;
  }




  @include media(">=xwide") {}
}








/*=====  End of dutch windmill animated  ======*/

.home .hero__tagline {

  position: absolute;

  lost-column: 4/4;
  z-index: 999999;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  bottom: 1rem;






  h2,
  span {
    text-shadow: 1px 1px 0px $blue;
  }

  span {
    @include font-title;
    color: $white;
    text-transform: uppercase;
  }

  h2 {
    font-family: $font-script;
    color: $white;
    font-weight: 100;
    font-size: 4rem;
    line-height: 3.5rem;
    margin-top: .75rem;
    margin-bottom: 0rem;
    @include media(">=large") {
      font-size: 8vw;
      line-height: 7vw;
    }
  }


  .tagline__caption {
    letter-spacing: 10px;
    line-height: 1rem;
    font-size: .5rem;
    text-shadow: 1px 1px 0px $blue;

    @include media(">=large") {
      font-size: 1.5vw;
      line-height: 1.75vw;
    }
  }

  .tagline__subtitle {
    font-size: .5rem;

    letter-spacing: 4px;
    margin-left: 5rem;
    max-width: 70%;
    display: block;
    line-height: .75rem;
    max-width: 80%;

    @include media(">=large") {
      font-size: 1vw;
      padding-left: 5vw;
      line-height: 1.5vw;
      max-width: 70%;
    }
  }


  @include media(">=large") {
    bottom: initial;
    lost-column: 2/8;
    left: 5vw;
    top: 14vw;
    height: 20vh;
    lost-align: center;
    lost-flex-container: column;
  }
}

.sunset.home .hero__tagline {
   @include media(">=large") {
  span,
  h2 {
    color: $black;
  }
}
}



/*=====  End of Homepage Header  ======*/


/*========================================
=            header animation            =
========================================*/

.windmill__blades--animated {
  transform-style: preserve-3d;
  transform: rotateY(10deg) rotateZ(15deg);
}








/*=====  End of header animation  ======*/


/*===================================================================
=            Intro Content / Plan A Visit / Museum Hours            =
===================================================================*/

.homepage__intro {

  background-color: $black;
clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  background-size: 79%;
  position: relative;
  padding-top: 2rem;
  top: -2px;

  width: 100%;
  margin-bottom: -2px; // padding-bottom:3rem;
  @include media(">=large") {
    background-position: 258% 20%;
    background-size: 68%;



    padding-bottom: 10vh;
  }
}


.intro--wrapper {
  align-items: center;
  justify-content: center;
  lost-flex-container: column;
  lost-center: 980px;
  padding: 2vh 4vw;
padding-bottom:8rem;
  @include media(">=large") {
    lost-center: 1200px;
    padding-bottom:2vh;
  }

  @include media(">=desktop") {}
}





.homepage__info {
  padding: 1rem;
  order: 1;
width:100%;
  lost-center: 980px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include media(">=large") {
    lost-center: 1200px;
    min-height: 40vh;
  }
}

.info__text {
  lost-column: 4/4;
  padding: .5rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  text-align: center;
  h2 {
    margin: 0;
    color: $rust;
    @include font-title;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 1px;


    @include media(">=large") {
      font-size: 2vw;
      line-height: 2.5vw;
      text-align: left;
      margin-bottom: 0;
    }
  }

  @include media(">=large") {
    padding: 2rem;
    lost-column: 5/8;
    margin-bottom:0;
       min-height:50vh;
  }

  @include media("<large"){
    min-height:50vh;
  }
}
.info__hours{
  lost-column: 3/4;
  
}

.info__hours,.info__admission
{

  justify-content: center;
  align-items: center;
  text-align: center;

  lost-flex-container: column;
  h3 {
    color: $rust;
    margin-top: 0;
    line-height: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 4px;
    margin-bottom: 0;
  }

  h4 {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  small {
    color: $white;
    @include font-body;
    font-size: .65rem;
    opacity: .5;
    max-width: 50%;

    @include media(">=large") {
      max-width: 70%;
    }
  }

  ul {
    list-style: none;
    color: $white;
    @include font-body;
    font-size: .75rem;
  }


  li {
    line-height: 1.5rem;
    letter-spacing: 1px;
  }

  .hours__time,
  .info__price {
    font-size: .70rem;
    opacity: .7;
  }


  @include media(">=large") {
    lost-column: 2/8;
    align-items: flex-start;
    text-align: left;
  }
}

.info__admission{
  ul,li,small{
    color:$purple
  }
}


.visit__icons {
  order: 3;

  margin-top: 2rem;
  lost-center: 980px;
  justify-content: space-between;
  align-items: center;
  lost-flex-container: row;
width:100%;

  path {
    fill: $rust;
    transition: all .4s ease;
  }

  @include media(">=large") {

    min-height: 30vh;
  }
}

.visit__icons{


.sights:hover path,
.tours:hover path,
.gifts:hover path {
  fill: $orange;
}

.sights:hover h4,
.tours:hover h4,
.gifts:hover h4 {
  color: $orange;
}

}

.visit__item {
  lost-column: 1/4;
  lost-align: center;
  lost-flex-container: column;
  text-align: center;
  position: relative;

  svg {
    width: 50%;
    height: 50%;
  }

  h4 {
    color: $white;
    @include font-title;
    letter-spacing: 2px;
    font-size: .75rem;
    margin-top: .5rem;
    transition: all .4s ease;
  }

  @include media(">=large") {
    lost-column: 1/8;
  }
}








/*=====  End of Intro Content / Plan A Visit / Museum Hours  ======*/


/*===============================
=            Rentals            =
===============================*/

.homepage__rentals {
  padding-top:4rem;
  position:relative;
  top:-9rem;
     min-height: 60vh;
  margin-bottom:-9rem;
  padding-bottom:8rem;
  lost-center:100vw;
  lost-align: center;
  justify-contents: space-between;
  lost-flex-container: column;
  background:$black; 
  clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
 


  a,
  a:visited,
  a:active {
    color: $white;
    box-shadow: 0 4px 0px $rust;


    &:hover {
      box-shadow: 0 6px 0px $blue;
      color: $rust;
    }
  }
  @include media(">=large") {
clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
    min-height: 60vh;
  }
}

.rentals__text {
color:$white;
  text-align: center;

.caption{
  font-size:.5rem;
  letter-spacing:4px;
  line-height:.5rem;
 @include media(">=large") {
  font-size:.75rem;
letter-spacing:6px;
}
}

  h2 {
    font-family: $font-script;
    color: $white;
    font-weight: 100;
    font-size: 2rem;
    line-height: .5rem;

  @include media(">=large") {
      font-size: 3rem;
      line-height: 2rem;
  }

  }

  @include media(">=large") {
    lost-column: 6/8;
    align-items:center;

 
  }
}




.rental__photo{
    background:url(../images/homepage__rentals--bg.png) no-repeat;
  background-size:cover;
  width:100%;
  position:relative;
  top:-5rem;
  margin-bottom:-11rem;

  background-position:center top;
  min-height:100vh;

    @include media(">=desktop") {
background-attachment:fixed;
    }
}



/*=====  End of Rentals  ======*/


/*==============================
=            events            =
==============================*/

.homepage__events {
padding-top:5rem;
  width: 100%;
  height: 100%;

  background: $white;
  padding-bottom: 15rem;
    position:relative;
      z-index:0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @include media(">=large") {}
}



.event--wrapper{
    position:relative;
      z-index:-1;
      padding-bottom:2rem;
  top:-8rem;
    padding-top:10rem;
padding-left:1rem;
padding-right:1rem;
width:100%;
height:100%;
background:$white;
margin-bottom:-8rem;

  @include media(">=large") {

    padding-left:0rem;
    padding-right:0rem;
  }
}


.events.section__title .caption , .events.section__header h2{
color:$black;


}
.events.section__title .caption{
   @include media("<large") {

letter-spacing:4px;
font-size:.75rem;

   }

}

.events.section__header h2{
   @include media("<large") {
font-size:3rem;
line-height:3rem;
  }
}

.events.section__rule g{
  stroke:$black;

}

.events.section__bg g {
  fill:$black;
}

.events.section__bg{
  opacity:.2;
}
/*=====  End of events  ======*/


/*=============================
=            Store            =
=============================*/

.homepage__store {
  padding: 2rem 1rem;
  margin-top: 2rem;
  background: linear-gradient(to top, rgba($black, .7) 0%, rgba($black, .7) 100%), url('../images/homepage__onlinestore.png') no-repeat;
  background-size: cover;
  background-position: center, center;
  lost-align: middle-right;
  lost-column: 3/3;
  min-height: 90vh;
  position: relative;
  bottom: -4.5rem;


  @include media(">=large") {
    min-height: 45vh;
    padding: 0;
  }
}


.store__cta {
  .caption {
    font-family: $font-script;
    text-transform: capitalize;
    color: $white;
    font-size: 2.5rem;
    font-weight: 100!important;
    line-height: 3rem;
  }

  h2 {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  a {
    color: $white;
    font-size: 1.25rem;
    letter-spacing: 4px;
    box-shadow: 0px 3px 0px $white;
  }

  @include media(">=large") {

    lost-align: top-left;
    lost-flex-container: column;
    lost-column: 2/8;

    h2 {
      font-size: 2vw;
      margin: 0;
      line-height: 2vw;
    }

    a {
      font-size: 1vw;
      margin-top: 1rem;
    }
  }
}







/*=====  End of Store  ======*/
