.content h1{
  color:$purple;

}

.full--wrapper {
	width:100%;
	padding-left:1rem;
	padding-right:1rem;

}


.content--wrapper{

  background:$white;
  min-height:100vh;
lost-center:100vw;
  lost-align:center;

  position:relative;
    z-index:2;
  margin-bottom:-5rem;

    padding-bottom: 9rem;

  
 
}



.content--wrappermask{
  background:$white;
  height:5rem;
  width:100%;
  top:-4rem;
  clip-path: polygon(0 0, 100% 44%, 100% 100%, 0 100%);
  position:relative;


      @include media(">=large") {
  clip-path: polygon(0 0, 100% 57%, 100% 100%, 0 100%);

      }

}



.content{
    padding:2vh 3vw;
  lost-column:4/4;
  margin-top:-5rem;
flex-direction:column;
     @include media(">=large") {
lost-column:5/8;
lost-center:980px;
flex-direction:column;

}
}



.row{
  position:relative;
width:100%;
display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
     @include media(">=large") {
      flex-direction:row;


    }

}



/*====================================
=            staff photos            =
====================================*/



/*=====  End of staff photos  ======*/

