.content--wrapper article{
    padding: 1rem;
    max-width: 980px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.single .content--wrapper{
	align-items:flex-start;
}



.post__photo{
	    max-width: 50%;
    margin-bottom: 2rem;
}