.visit {
  overflow-x: hidden!important;
}

.windmill__left {
  position: absolute;
  width: 50%;
  left: -10%;
  top: 12rem;

  z-index: 4;
  @include media(">=large") {
    left: -48%;
    bottom: -16rem;
   top:initial;

    width: 45%;
  }
}


.admission{
  lost-center:80vw;
  align-items:flex-start;
  justify-content:space-around;
    flex-direction:column;
        position:relative;
    top:-2rem;
    @include media(">=large") {
      flex-direction:row;

    }
}

.info__admission{

lost-column:4/4;
    @include media(">=large") {
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
lost-column:8/8;
    }


h3{
   @include media(">=large") {
  lost-column:3/8;
}
}
    ul{
       @include media(">=large") {
      lost-column:3/8;
    }
    }

    small{
            font-weight:800;
       @include media(">=large") {
      lost-column:2/8;

    }
    }
}


.info__photo{
  height:70vh;
  width:100%;
  position:relative;
  z-index:1;
  background:url(../images/visit__info.jpg) no-repeat;
  background-size:cover;
  background-position:center;
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);


    @include media(">=desktop") {
background-attachment:fixed;
    }
}


.windmill--wrapper {
  width: 100%;
min-height:30vh;
  position: relative;
 padding-left:1vw;
 padding-right:1vw;
  display: flex;
  align-items: center;
  justify-content: center;

    @include media(">=large") {

 padding-right:0vw;
    }
}


.windmill {
  position: relative;
  margin-top:20vh;
min-height:30vh;
lost-center: 90vw;
  lost-flex-container: column;
    align-items: center;
    justify-content:center;


  @include media(">=large") {

    lost-flex-container: row;

    lost-center: 100vw;
    justify-content: space-around;
    align-items: center;
  }
}



.windmill__text {
  order: 2;
  padding: 1rem;

  @include media(">=large") {
    lost-column: 3/8;
    order: 1;
    padding:2rem;
  }
}

.windmill__photo {
  margin-top: 1rem;
  background: url(../images/visit__windmill--divide.png) no-repeat;
  background-size: cover;
  background-position: center;
  lost-column: 4/4;
  height: 40vh;
  order: 1;

  @include media(">=large") {
    background-position: 0%;
    lost-column: 4/8;
    height: 60vh;
    margin-top: 0rem;
    order: 2;
  }
}



.visit__windmill--right {
  position: absolute;
  width: 50%;
  right: -20%;
  z-index: -1;
  top: 0;
  @include media(">=large") {
    top: 20vh;
    bottom: initial;
  }
}




/*==========================================
=            Windmill seperator            =
==========================================*/





/*=====  End of Windmill seperator  ======*/





/*=================================
=            flowerdew            =
=================================*/

.flowerdew {
  lost-center: 90vw;
 min-height:50vh;
width:100%;
height:100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include media(">=large") {
      lost-center: 100vw;
    flex-direction: row;
     padding: 20vh 0vw;
     padding-right:2vw;
  }
}


.flowerdew__photo {

  background: url(../images/windmill__mill.png) no-repeat;
  background-size: cover;
  background-position: center;
  lost-column: 4/4;
  height: 40vh;


  @include media(">=large") {
    background-position: 0%;
    lost-column: 4/8;
    height: 70vh;
    margin-top: 0rem;
  }
}


.flowerdew__text {
  lost-column: 4/4;
 padding: 1rem;
  @include media(">=large") {
    lost-column: 3/8;
  }
}










/*=======================================
=           windmill divider            =
=======================================*/

.windmill__divider {
  width: 100%;
  margin-top: 2rem;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
  position: relative;
  z-index: -1;
  height: 80vh;
  background: url(../images/visit__windmillphoto.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;

  @include media(">=desktop") {
    background-attachment: fixed;
    background-position: center top;
  }
}






/*====================================
=            mini divider            =
====================================*/

.experience__divider{

  height:70vh;
  width:100%;
  position:relative;
  z-index:1;
  background:url(../images/experience__railroad.jpg) no-repeat;
  background-size:cover;
  background-position:center;
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);


    @include media(">=desktop") {
background-attachment:fixed;
    }



}

/*=====  End of mini divider  ======*/



/*==================================
=            experience            =
==================================*/

.experience--wrapper {
  position: relative;
  min-height: 110vh;
  width: 100%;
  overflow: hidden;
  @include media(">=large") {

    padding: 8vh 1vw;
  }
}

.experience {
  align-items: flex-start;
  justify-content: space-between;
  lost-center: 90vw;

  @include media(">=large") {}
}

.experience__text {
  order: 2;
  lost-column: 4/4;
  @include media(">=large") {
    lost-column: 4/8;
    order: 1;
  }
}

.experience__text {
  padding: 1rem;

img{
  padding:1rem;
}

  @include media(">=large") {
    padding: 3rem;
  }
}




.experience__right {
  lost-column: 4/4;
  order: 1;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  display: flex;
  padding: 1rem;
  @include media(">=large") {
    padding: 0rem;
    lost-column: 3/8;
    height: 100%;

    order: 2;

    flex-direction: column;
    align-items: flex-start;
    display: flex;


  }
}


.experience__hotel {

  lost-column: 2/4;
  height: 20vh;
  background: url(../images/experience__hotel.jpg) no-repeat;
  background-size: cover;
  background-position: center top;

  @include media(">=large") {
    lost-column: 8/8;
    height: 60vh;
margin-bottom:5rem;
  }
}



.experience__mini {

  lost-column: 2/4;
  height: 20vh;
  background: url(../images/experience__mini.jpg) no-repeat;
  background-size: cover;
  background-position: center top;

  @include media(">=large") {
    lost-column: 8/8;
    height: 30vh;
  }
}



/*=====  End of experience  ======*/


/*==================================
=            experience            =
==================================*/

.millstone--wrapper {
  position: relative;
  width: 100%;
  @include media(">=large") {
    display: flex;
    align-items: flex-start;
  }
}


.millstone__photo {
 width: 100%;
  margin-top: 2rem;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
  position: relative;
  z-index: -1;
  height: 80vh;
  background: url(../images/visit__millstone.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;

  @include media(">=desktop") {
    background-attachment: fixed;
    background-position: center top;
  }
}

.millstone {

  lost-center: 980px;
  @include media(">=large") {
    lost-flex-container: column;
    lost-align: center;
    padding: 1rem;
  }
}

.millstone__text {

  lost-column: 4/4;
  padding: 1rem;
      img{
      margin-top:2rem;

    }
  @include media(">=large") {
    lost-column: 6/8;
    lost-align: top-left;
    lost-flex-container: column;

    img{
      margin-top:2rem;

    }
  }
}





/*==================================
=            mural            =
==================================*/

.mural--wrapper {
  position: relative;
  width: 100%;
padding:1rem;
  @include media(">=large") {
    display: flex;
    padding:0;
    align-items: flex-start;
  }
}


.mural {
  lost-center: 980px;

  @include media(">=large") {
    lost-flex-container: column;
    lost-align: center;
    padding: 1rem;
    padding-left:10vw;
  }
}



.mural__photo {
  width: 100%;
  margin-top: 2rem;
   clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);

  position: relative;
  z-index: -1;
  height: 80vh;
  background: url(../images/visit__mural.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;

  @include media(">=desktop") {
    background-attachment: fixed;
    background-position: center top;
  }
}



.mural__text {
  lost-column: 4/4;
  padding: 1rem;
  order:2;

  @include media(">=large") {
    order:1;
    lost-column: 6/8;
    lost-align: top-left;
    lost-flex-container: column;
  }
}



.mural--wrapper .windmill__left {
  position: absolute;
  width: 50%;
  left: -10%;

  bottom: 0;
  z-index: -1;
  @include media(">=large") {
    left: -33%;
    top: 20%;
    bottom:initial;
    z-index: 4;
    width: 45%;
  }
}


/*=====================================
=            Visit content            =
=====================================*/
/*=================================
=            gift shop            =
=================================*/


.store--wrapper {
  position: relative;
  width:100%;
padding:1rem;
  @include media(">=large") {

  padding:2rem 0 0 0 ;

    min-height:40vh;

  }
}


.store {
lost-column:4/4;

  @include media(">=large") {
    lost-flex-container: column;
    lost-align: center;
    padding: 1rem;
    padding-left:10vw;
  }
}



.store__photo {
  width: 100%;

clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
  position: relative;
  z-index: -1;
  height: 80vh;
  background: url(../images/visit__shop.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;

  @include media(">=desktop") {
    background-attachment: fixed;
    background-position: center top;
  }
}



.store__text {
  lost-column: 4/4;
  padding: 1rem;
  order:2;

  @include media(">=large") {
    order:1;
    lost-column: 6/8;
    lost-align: top-left;
    lost-flex-container: column;
  }
}



.store--wrapper .windmill__left {
  position: absolute;
  width: 50%;
  left: -10%;

  bottom: 0;
  z-index: -1;
  @include media(">=large") {
    left: -33%;
    top: 20%;
    bottom:initial;
    z-index: 4;
    width: 45%;
  }
}


/*=====  End of gift shop  ======*/


/*=====  End of Visit content  ======*/
