/* Signature field
----------------------------------------------------------------------------- */

#wpforms-panel-fields .wpforms-field-signature.size-medium .wpforms-signature-wrap {
	width: 65%;
}

#wpforms-panel-fields .wpforms-field-signature.size-small .wpforms-signature-wrap {
	width: 25%;
}

#wpforms-panel-fields .wpforms-field .wpforms-signature-wrap {
	border: 1px solid #ccc;
	position: relative;
	height: 130px;
	background-color: #fff;
}

#wpforms-panel-fields .wpforms-field  .wpforms-signature-wrap:before {
	content: '';
	left: 20px;
	right: 20px;
	bottom: 30px;
	border-top:1px dashed #000;
	position: absolute;
	opacity: 0.15;
}