Required format for `site_hosts` (group_vars/{{ env }}/wordpress_sites.yml):

windmill.com:
  site_hosts:
    - canonical: windmill.com

The above is the minimum required. Multiple hosts and redirects are possible:

windmill.com:
  site_hosts:
    - canonical: windmill.com
      redirects:
        - www.windmill.com
        - site.com
    - canonical: example.co.uk
      redirects:
        - www.example.co.uk
