* {
  box-sizing: border-box;
}

html {
  font-size: responsive 18px 22px;
  /* min-size, max-size */
}

body {
  font: 1rem/1.5 sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  -webkit-margin-before: 0em!important;
  -webkit-margin-after: 0em!important;
  -webkit-margin-start: 0px!important;
  -webkit-margin-end: 0px!important;
  -webkit-padding-start: 0px!important;
}

@lost rounder 100;
@lost flexbox flex;
@lost gutter 0px;
$gutter: 1rem;





/*======================================
=            main container            =
======================================*/

.container--main {
  position: relative;
}


/*=====  End of main container  ======*/


/*=================================
=            scrollbar            =
================================= */

.scrollbar {
  margin-left: 22px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#wrapper {
  text-align: center;
  margin: auto;
}


::-webkit-scrollbar,
{
  width: 10px;
  background-color: $white;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background: $white;
}

::-webkit-scrollbar-thumb {
  background: $purple;
}


/*=====  End of scrollbar  ======*/

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
