
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 



/*===============================
=            IE only            =
===============================*/

.homepage__rentals{
	width:100%;
	text-align:center;
	margin:auto;
	display:block!important;
}
.rentals__text{
	max-width:initial;
	margin:auto;
	width:100%;
	text-align:center;
}

.admission{
	width:100%;
}

.homepage__hero{
	background:url('../images/IEbg.svg') no-repeat;
	background-size:cover;
	background-position:bottom;
	height:150vh;

}

.hero__city,
.hero__ground,
.hero__wind--position{
	visibility:hidden;
}

.store{
	display:block!important;
}

.store__text{
	display:block!important;
}

.windmill--wrapper{
	display:block!important;
}


.millstone{
	height:100%;
	min-height:100vh;
}

.millstone__text{
	display:block!important;
	width:100%;
	height:100%;
}
/*=====  End of IE only  ======*/

}

