
p {
    @include font-body;
 font-size: responsive .75rem.75rem;
margin-top:0;

line-height:1.25vr;
    @include media("<large") {
 font-size: responsive .80rem 1rem;
 line-height:1vr;
    }
 
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-title;
    font-weight: 700;
}

h1,
.h1 {
    font-size: responsive 2.6105263rem 3.25rem;
    margin-top: 1.3157895vr;
    margin-bottom: 1.631579vr;
    line-height:2vr;
    @include media(">large") {
        line-height:3.25vr;
    }

}





h2,
.h2 {
//    font-size: responsive 1.6315789rem 1.625rem;
    margin-top: 1.2916667vr;
    margin-bottom: 1.2916667vr;
    font-size: responsive 1rem 2.5rem;
    color:$purple;
    font-weight: 600;
    line-height: 1.5vr;
      @include media("<large") {
            margin-top:1vr;
             font-size: responsive 1.5rem 2.5rem;
            line-height:1.25vr;
          }

}

h3,
.h3 {
    font-size: responsive 1.3315789rem 1.325rem;
    margin-top: 1.2916667vr;
    margin-bottom: 0vr;
    color:$purple;
}

h4,
.h4 {
    font-size: responsive 1rem 1rem;
    margin-top: 1.2916667vr;
    margin-bottom: 0vr;
        color:$purple;
}

h5,
.h5 {
    font-size: responsive 1rem 1rem;
    margin-top: 1.2916667vr;
    margin-bottom: 0vr;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0px;
    margin-bottom: 1.2916667vr;

}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0vr;
    margin-bottom: 0vr;
    @include font-body;
}

h2.section-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}


blockquote{
    margin:0;
    h1{
        margin:0;
        font-size:2rem;
        line-height:2rem;
        margin-bottom:.5rem;

    }


}

a{
  text-decoration:none;
  transition:all .4s ease;
  @include font-title;
  text-transform:uppercase;
  color:$rust;

}


p > a,p > a:visited,p > a:active{
    text-decoration:none;
      letter-spacing: 2px;
  line-height: 1rem;
  @include font-title;
  text-transform: uppercase;
  transition:all .4s ease;
    box-shadow:0 4px 0px $rust;

  &:hover{
     box-shadow:0 6px 0px $rust;
  }
}


.content--wrapper a{

color:$rust;

&:hover{
  color:$black;
}
}


.content--wrapper li{
          @include font-body;
        color:$black;
}

