
/*----------  Typography  ----------*/


@mixin font-body{
font-family: "Gotham SSm A", "Gotham SSm B";
font-style: normal;
font-weight: 400;
}


@mixin font-title{

	font-family: "Gotham SSm A", "Gotham SSm B";
font-style: normal;
font-weight: 800;
}


$font-script:'Satisfy', cursive;
/*=====  End of Typography  ======*/








/*----------  Colors  ----------*/

$brand-primary: #d94b30;
$orange:#F2A65D;
$rust:#BD6B56;
$seafoam:#A6D2C0;
$blue:#7186A2;
$blue-light:#CEE0E9;
$gray:#DBDBDB;
$offgray:#EBECEA;
$gray-light:#F1F1F1;
$black:#1A1031;
$black-dark:#000000;
$white:#F3F3F3;
$white-light:#ffffff;
$yellow:#FFE4C2;
$purple:#3d365a;

/*=====  End of Colors  ======*/


@mixin overlay{
position:absolute;
top:0;
left:0;
width:100%;
z-index:1;
height:100%;
}