.playpause {
    background:rgba($white,.5);
    height:100%;
    width:100%;
    position:absolute;
    lost-align:center;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    transition:all .4s ease;

    &:hover{
        background:rgba($black,.4);
    }

}



.videoa{
    fill:$black;
       transition:all .4s ease;
}