/*==================================
=            Event Item            =
==================================*/



.event__item {
width:100%;
lost-center:100%;
position:relative;
overflow:hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
  align-items:flex-start;
  justify-content:flex-start;
  flex-wrap: wrap;

  @include media(">=large") {

    justify-content: space-between;
    align-items: center;

  }
}


.event__item:nth-of-type(even){
    @include media("<large") {
  justify-content:flex-end;
  align-items:flex-end;

  display:flex;
  }
}




/*===================================
=            Event Photo            =
===================================*/



.event__photo {
  margin-top:2rem;
overflow:hidden;
  position:relative;
height: 45vw;

  lost-column: 3/4;
  clip-path: polygon(0 0, 100% 27%, 100% 70%, 0 100%);
  transform: rotate(-90deg);
  transform-origin: top right;

  @include media(">=large") {
     margin-top:0rem;
    lost-column: 5/8;
    order:1;
    height:60vh;
    
  }

}


.event__item:nth-of-type(odd) .event__photo {
  transform: rotate(90deg);
  transform-origin: top left;
  clip-path: polygon(0 27%, 100% 0, 100% 100%, 0 70%);

  @include media(">=large") {
  order:2;
  }

}

/*=====  End of Event Photo  ======*/


/*==================================
=            Event Info            =
==================================*/

.event__info {
lost-column:4/4;
height:100%;
overflow:hidden;
flex-direction:column;
align-items:flex-start;
justify-content:center;
padding: 2rem;
margin-top:1rem;
margin-bottom:2rem;

  h1,
  h3,
  p {
    margin: 0;
  }

  a h1 {
    letter-spacing:2px;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: $black;
    margin-top:.5rem;
    @include font-title;
    max-width:65%;
     @include media(">=large") {
  max-width:100%;
     }
  }

  h2 {
    padding-left: .25rem;
    font-weight: 100;
    font-size: 1.5rem;
    line-height:1.2rem;
    margin-top:0;
    font-family:$font-script;
    margin-bottom:0;
  }

  span {
    
    font-size: .75rem;
    text-transform: uppercase;
    color: $blue;
    margin-top:.5rem;
    @include font-title;
    letter-spacing: 4px;
  }

  p {
    
    max-width: 80%;
  }

  @include media(">=large") {

margin-top:0rem;
margin-bottom:0rem;
    lost-column: 3/8;
  align-items:flex-end;

  justify-content:flex-start;
    lost-flex-container: column;

    h1 {
        text-align:left;
    }

    p {
        text-align:left;
    }
  }


  @include media(">=desktop") {

  }
}

.event__item:nth-of-type(odd) .event__info {
  @include media(">=large") {
    align-items: flex-start;
order:2;
  }

  @include media(">=desktop") {


  }
}



/*=====  End of Event Info  ======*/



.eventpage--wrapper{
width:80vw;
background:$white;
lost-flex-container:column;
align-items:center;
justify-content:space-between;
    @include media(">=large") {
lost-flex-container:row;
      }


      img{
        padding:2rem;
      }
}


.event__details{
  lost-column:4/4;
  padding:1rem;
    @include media(">=large") {
      lost-column:4/8;
    }
  ul{
    @include font-body;
    color:$purple;
  }

  li{
    margin-top:1rem;
  }
}

.event__calendar{
  lost-column:4/4;
  padding:4rem;
    @include media(">=large") {
      lost-column:8/8;
    }
}