.wpforms-field-sublabel {
    @include font-body;
}

.wpforms-page-button,.wpforms-page-button .wpforms-page-next {
    border: 4px solid $orange;
    background: transparent;
    color: $orange;
    margin: .25rem;
    transition: all .4s ease;
    text-transform: uppercase;
    @include font-title;
    font-weight: 600;
    &:hover {
        background: $orange;
        color: $white;
    }
}

.wpforms-submit {
    border: 4px solid $seafoam;
    background: transparent;
    color: $seafoam;
    margin: .25rem;
    transition: all .4s ease;
    text-transform: uppercase;
    @include font-title;
    font-weight: 600;
    &:hover {
        background: $seafoam;
        color: $white;
    }
}

:root:root:root .intro__form ul {
    list-style: dots;
    margin-left:.5rem!important;
}

:root:root:root .intro__form ul li {
    margin-top: 1vr!important;
    font-size: .75rem!important;
    list-style: dots;
}

.intro__form ul li ul li {
    margin-left: 1rem!important;
}

label.wpforms-field-label {
    font-size: .75rem;
    color: $gray;
}

.form__employer label.wpforms-field-label {
    font-size: 1rem!important;
    color: $black!important;
}

label.wpforms-field-label-inline {
    font-size: .75rem!important;
}

label.wpforms-field-sublabel {
    font-size: .5rem!important;
    color: $gray!important;
}

.wpforms-field-checkbox ul {
    list-style: none!important;
}

.wpforms-container .wpforms-field-date-time-date-year,
.wpforms-container .wpforms-field-date-time-date-day,
.wpforms-container .wpforms-field-date-time-date-month {
    font-size: .75rem;
}

.wpforms-container .wpforms-page-indicator.progress .wpforms-page-indicator-page-progress-wrap {
    background: linear-gradient(132deg, rgb(234, 234, 234) 10%, rgba(255, 255, 255, 0))!important;
    background-color:transparent;
}


.wpforms-page-indicator-page-progress{
	background:$orange!important;
}



div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea{
@include font-body;
border:4px solid $gray!important;

}


div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button{
background-color:transparent;
@include font-title;
border:4px solid $black;
font-weight:700!important;

&:hover{
    background-color:transparent;
    border:4px solid $orange;
    color:$orange;
}
}



div.wpforms-container-full, div.wpforms-container-full .wpforms-form *{

    font-size:initial!important;
}

