.caption {
  letter-spacing: 4px;
  line-height: 1rem;
  @include font-title;

  text-transform: uppercase;
}



.hero__tagline {
z-index:-5;
position:relative;
text-align:center;
  h2,
  span {
    text-shadow: 1px 1px 0px $blue;
  }

  span {
    @include font-title;
    color: $white;
    text-transform: uppercase;
  }

  h2 {
    font-family: $font-script;
    color: $white;
    font-weight: 100;
    font-size: 4rem;
    line-height: 3rem;
    //margin-top: .75rem;
    margin-bottom: 0rem;
  }


  .tagline__caption {
    letter-spacing: 2px;
    line-height: 1rem;
    text-shadow: 1px 1px 0px $blue;
  }

  .tagline__subtitle {
    font-size: .5rem;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    line-height: .75rem;
    max-width: 50%;
    text-align:center;
    margin-top:.75rem;
  }





  @include media(">=large") {



    h2 {
      font-size: 8vw;
      margin-top:1.5rem;
      line-height: 10vw;
    }

    .tagline__subtitle {
      font-size: 1.25vw;
      padding-left: 3vw;
      line-height: 1.5vw;
     width:100%;
     max-width:100%;
      text-align:left;
      margin-top:.5rem;
      text-align:center;


    }

    .tagline__caption {
      font-size: 1.5vw;
      text-align:center;
      line-height: 1.5vw;
    }
  }


   @include media(">=wide") {



   }


    @include media(">=xwide") {

h2{
  font-size:10vw;
  line-height:9vw;
}

.tagline__caption{
  font-size:1.25rem;
  line-height:1.5rem;
}

.tagline__subtitle{
  max-width:100%;
  font-size:.75rem;
  line-height:1rem;
}

    }

}






.content--wrapper h5 , .eventpage--wrapper h5{
  color:$purple;
}




/*======================================
=            section header            =
======================================*/

.section__header {
  lost-column: 4/4;


  margin-top: 4rem;
  order: 2;
  lost-flex-container: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  h2 {
    font-family: $font-script;
    color: $white;
    font-weight: 100;
    font-size: 5rem;
    line-height: 4rem;
    margin-top: .75rem;
    margin-bottom: 0rem;

    @include media(">=large") {

      h2 {
        font-size: 8vw;
        line-height: 7vw; //color:$rust;
      }
    }
  }





  .section__rule {
    width: 100%;
    height: 1px;
    opacity: 1;

    g {
      stroke-width: 2;
    }
  }
}


.section__title--wrap {
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 20vh;
  text-align: center;
  padding: 1rem;

  lost-column: 2/4;
  z-index: 99;

  @include media(">=large") {
    lost-column: 2/8;
  }
}


.section__title {
  z-index: 99;
  position: relative;

  .caption {
    color: $white;
    @include media(">=large") {
      font-size: 1vw;
      line-height: 1vw;
      letter-spacing: 8px;

    }
  }
}

.section__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: .3;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  animation: windmillspin 120s linear infinite;
}

/*=====  End of section header  ======*/




