.topbar__wrapper {
  padding: 1.5vh 3vw;
  lost-column: 4/4;
  lost-flex-container: row;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;

  justify-content: space-between;
  align-items:center;

    @include media(">=large"){
lost-column:8/8;
    }
}


.topbar__logo {
  lost-column: 2/4;
  lost-align: middle-left;

margin-bottom:1.5rem;
  svg {
    width: 80%;
    height: 80%;
  }

  @include media(">=large"){
      padding: 0vh 0rem;
  lost-column:2/8;
margin-bottom:0;
svg{
  width:100%;
  height:3rem;
}

  }



}





/*=====================================
=            Dropdown Menu            =
=====================================*/










.menu-item-has-children.menu-expanded > .sub-menu {
  display: flex;
  flex-direction: column;
}




/*======================================
=            Menu item list            =
======================================*/

.nav {
  lost-column: 4/4;

  lost-flex-container: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
    position:relative;


  @include media(">=large"){

lost-column:5/8;

  }



  @include media(">=desktop"){

lost-column:4/8;

  }


}


.menu-item {

  border-radius: 2px;
  position: relative;
}


.nav > .menu-item{
  
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:row;
}

.nav > .menu-item > a{
padding:0 0 .5rem 0;
}

.nav > .menu-item.menu-expanded > a {

}

/*=======================================
=            Menu item top level links            =
=======================================*/



.menu-item.menu-item-has-children:after{
content:'▼';
font-size:.5rem;
position:absolute;
top:-.4rem;
right:-.5rem;
color:$white;
opacity:1;
transition:all .4s ease;
  text-shadow: 1px 1px 0px #445c7b;
@include font-title;

  @include media(">=large"){
font-size:.3rem;
position:absolute;
top:-.15rem;
right:-.5rem;
  }

}


.menu-item.menu-item-has-children:hover:after{

color:$orange;

}

.menu-item.menu-item-has-children.menu-expanded:after{
content:'▼';
opacity:0;
font-size:.70rem;
position:absolute;
top:-.5rem;
right:-1.25rem;
color:$orange;
  text-shadow: 1px 1px 0px #445c7b;
@include font-title;
transition:all .4s ease;

  @include media(">=large"){
font-size:.3rem;
position:absolute;
top:-.15rem;
right:-.5rem;
  }

}








.menu-item a {
     transition:all .4s ease;
  color: $white;
  @include font-title;
  cursor:pointer;
  font-size: .75rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
    line-height: 1px;
  text-shadow: 1px 1px 0px #445c7b;
  &:hover {
    color: $orange;
    outline:none;
  }
}




.menu-item > a {
    position: relative;
    text-align: center;
    color: $white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.menu-item > a:hover,
.menu-item > a:focus {
    color: $orange;
}

.menu-item.active:first-child > a, .menu-item.menu-expanded:first-child > a {
    color: $orange;
  
}


.sub-menu > .menu-item.active > a, .sub-menu > .menu-item.menu-expanded > a {
    color:$white;
}

.menu-item > a:before,
.menu-item > a:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0;

    border: 4px solid $orange;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu-item > a:before {
 top: -18px;
    left: -14px;
    border-width: 4px 0 0 4px;
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
}

.menu-item > a:after {
     right: -14px;
    bottom: -6px;
    border-width: 0 4px 4px 0;
    -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0);
}

.menu-item.menu-expanded > a:before,
.menu-item.menu-expanded > a:after{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}





/*===============================
=            submenu            =
===============================*/

.sub-menu {

  
margin-top:1rem;

  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  border-radius: 2px;
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
     width:auto;
  transform: translateY(-2em) rotateX(-90deg);
  z-index: -1;
  transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
}


.sub-menu > .menu-item {
padding: .75rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
width:100%;
    transition: all 100ms ease 160ms;
     background:$orange;
  margin-bottom:1vh;

  &:last-of-type{
    margin-bottom:0vh;
  }
}


.menu-expanded > .sub-menu {
 visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(2vh) rotateX(0deg);
  transition-delay: 0s, 0s, 0.3s;
}






.sub-menu >.menu-item a {
  text-shadow: 1px 1px 0px darken($blue, 10%);
    line-height: .6rem;
    font-size:.6rem;
}

.sub-menu > .menu-item a:hover{
    color:$blue;
     text-shadow: 1px 1px 0px darken($orange, 20%);
}




/*=====  End of Dropdown Menu  ======*/


/*=============================================
=            Mobile Hamburger Icon            =
=============================================*/


/*=====  End of Mobile Hamburger Icon  ======*/
